{% extends 'layoutapp.html' %}
{% load static from staticfiles %}

{% block title %}

    Course
{% endblock %}

{% block contentapp %}

    <link href="{% static 'assest/datepicker/vue-datepicker-local.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <script src="{% static 'assest/datepicker/moment.js' %}"></script>

    {% csrf_token %}

    <div class="col-md-12" id="appcoursemain" style="min-height: 80rem;">
        <div class="row">
            <div class="col-md-12">
                <div class="m-3">

                    <b-button v-b-modal.modalappcoursecreated size="md" class="col-md-2" variant="primary">Tạo khoá học
                    </b-button>


                    <b-modal id="modalappcoursecreated" ref="modalappcourseRef" size="lg" title="Thêm mới"
                             hide-footer>
                        <div class="col-md-12">
                            <b-form @submit="onSubmitCourse">
                                {% csrf_token %}

                                <label for="excoursename">Tên khoá học:</label>
                                <b-form-input id="excoursename"
                                              type="text"
                                              v-model="form.name"
                                              required
                                              placeholder="Tên khoá học">
                                </b-form-input>

                                <label for="excoursecode">Mã khoá học:</label>
                                <b-form-input id="excoursencode"
                                              type="text"
                                              v-model="form.coursecode"
                                              required
                                              placeholder="Mã khoá học">
                                </b-form-input>

                                <label for="excoursestartdate">Ngày bắt đầu:</label>
                                <div id="excoursestartdate">
                                    <vue-datepicker-local v-model="form.startdate"
                                                          :local="local"></vue-datepicker-local>
                                </div>

                                <label for="excourseenddate">Ngày kết thúc:</label>
                                <div id="excourseenddate">
                                    <vue-datepicker-local v-model="form.enddate"
                                                          :local="local"></vue-datepicker-local>
                                </div>

                                <label for="excourseimage">Ảnh khoá học:</label>
                                <div id="excourseimage">
                                    <b-form-file v-if="!form.image"
                                                 type="file" :state="Boolean(form.image)"
                                                 @change="onFileChangeC"
                                                 placeholder="Chọn ảnh..."></b-form-file>
                                    <div v-else class="col-md-4">
                                        <img :src="form.image" class="rounded" width="75" height="75"/>
                                        <button @click="removeImageC" class="btn btn-sm btn-primary">Xoá
                                            ảnh
                                        </button>
                                    </div>
                                </div>

                                <label for="excourseteachername">Giảng viên:</label>
                                <div id="excourseteachername">
                                    <vue-multiselect v-model="form.teachervalue" :options="options"
                                                     label="name"
                                                     :searchable="true" :close-on-select="true" :show-labels="false"
                                    ></vue-multiselect>
                                </div>

                                <b-button type="submit" class="px-5" variant="primary">
                                    Lưu
                                </b-button>

                            </b-form>
                        </div>
                    </b-modal>

                </div>

            </div>

            <div class="col-md-12" style="min-height: 13rem;">
                <div class="col-md-6 mx-auto">
                    <b-form-input v-model="search.namesearch"
                                  type="text"
                                  placeholder="Tên khoá học..."></b-form-input>

                    <b-button size="md" variant="primary" @click="onShowHideDate">
                        ${ !showdatetime ? 'Hiện' : 'Ẩn' }
                    </b-button>

                    <div v-if="showdatetime">
                        <label for="searchstartdate">Từ ngày :</label>
                        <div id="searchstartdate">
                            <vue-datepicker-local v-model="search.startdate"
                                                  :local="local"></vue-datepicker-local>
                        </div>

                        <label for="searchenddate">Đến ngày :</label>
                        <div id="searchenddate">
                            <vue-datepicker-local v-model="search.enddate"
                                                  :local="local"></vue-datepicker-local>
                        </div>
                    </div>


                </div>

                <div class="col-md-6 mx-auto m-3">
                    <b-button size="md" variant="primary" @click="onSearchC">
                        Tìm kiếm
                    </b-button>
                </div>

            </div>
        </div>


        <div class="row" v-if="listdatacourse.length">

            <div class="col-md-6" v-for="c in listdatacourse">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start"
                    >
                        <strong class="d-inline-block mb-2"
                                :class="{'text-danger': c.statuscourse!=='Đang hoạt động',
                                 'text-primary': c.statuscourse==='Đang hoạt động' }">${ c.statuscourse }
                        </strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">${ c.namecourse }</a>
                        </h3>
                        <div class="mb-1 text-muted">${ c.startdate } - ${ c.enddate }</div>
                        <p class="card-text mb-auto">Giảng viên hỗ trợ ${ c.teacherfullname }</p>

                        <a :href="`${ c.id }`">Chi tiết</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" :src="`/media/${ c.imagecourse }`"
                         height="250" width="230"
                         :alt="`${ c.statuscourse }`">
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <b-pagination size="md" v-bind:total-rows="totalrows" align="center"
                              v-model="currentPage" v-bind:per-page="perpage"
                              @change="loadchangePagination"
                              @input="loadinputPagination">
                </b-pagination>
            </div>
        </div>


    </div>


    <script src="{% static 'assest/datepicker/vue-datepicker-local.js' %}"></script>

    <script src="{% static 'assest/vendor/holder.min.js' %}"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
    <script>

        Vue.component('vue-multiselect', window.VueMultiselect.default);

        new Vue({
            delimiters: ['${', '}'],
            el: '#appcoursemain',
            data() {
                return {
                    form: {
                        name: '',
                        coursecode: '',
                        startdate: new Date(),
                        enddate: new Date(),
                        image: null,
                        namefile: '',
                        teachervalue: null,
                        catecourse: '{{ categorycourse }}'

                    },
                    time: new Date(),
                    range: [new Date(), new Date()],
                    emptyTime: '',
                    emptyRange: [],
                    local: {
                        dow: 0,
                        hourTip: 'Select Hour',
                        minuteTip: 'Select Minute',
                        secondTip: 'Select Second',
                        yearSuffix: '',
                        monthsHead: 'Tháng1_Tháng2_Tháng3_Tháng4_Tháng5_Tháng6_Tháng7_Tháng8_Tháng9_Tháng10_Tháng11_Tháng12'.split('_'),
                        months: 'T1_T2_T3_T4_T5_T6_T7_T8_T9_T10_T11_T12'.split('_'),
                        weeks: 'CN_T2_T3_T4_T5_T6_T7'.split('_'),
                        cancelTip: 'cancel',
                        submitTip: 'confirm'
                    },
                    options: [],
                    listdatacourse: [],
                    currentPage: 1,
                    totalrows: null,
                    perpage: 10,
                    search: {
                        namesearch: '',
                        startdate: null,
                        enddate: null,
                        catecourse: '{{ categorycourse }}',
                    },
                    showdatetime: false,

                }
            },
            created() {

                var vm = this;
                axios({
                    method: 'post',
                    url: '/app/appteacher/getall/',
                    data: '',
                    xsrfCookieName: 'csrftoken',
                    xsrfHeaderName: 'X-CSRFToken',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                }).then(function (response) {
                    if (response.status === 200) {
                        response.data.forEach((val, index) => {
                            vm.options.push({
                                name: val.infofullname,
                                idteacher: val.id
                            });

                        });
                    }
                });


                axios({
                    method: 'post',
                    url: '/app/appcourse/getallpagination/',
                    data: {
                        catecourse: vm.search.catecourse,
                        perpage: vm.perpage,
                        currentPage: vm.currentPage,
                        namesearch: vm.search.namesearch,

                    },
                    xsrfCookieName: 'csrftoken',
                    xsrfHeaderName: 'X-CSRFToken',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                }).then(function (response) {
                    if (response.status === 200 && response.data) {

                        console.log(response.data);

                        vm.totalrows = response.data.total;
                        datares = response.data.data;

                        datares.forEach((val, index) => {
                            var id = val.id;
                            var namecourse = val.namecourse;
                            var imagecourse = val.imagecourse;
                            var enddate = moment(val.enddate).format("DD-MM-YYYY");
                            var startdate = moment(val.startdate).format("DD-MM-YYYY");
                            var student = val.student;
                            var teacheraccount = val.teacher.account;
                            var teacherfullname = val.teacher.fullname;
                            var datenow = moment(new Date()).format("DD-MM-YYYY");
                            var statuscourse = null;

                            if (enddate > datenow) {
                                statuscourse = 'Đang hoạt động';
                            } else {
                                statuscourse = 'Đã kết thúc';
                            }

                            result = {
                                id: id,
                                namecourse: namecourse,
                                imagecourse: imagecourse,
                                enddate: enddate,
                                startdate: startdate,
                                student: student,
                                teacheraccount: teacheraccount,
                                teacherfullname: teacherfullname,
                                statuscourse: statuscourse,
                            };

                            vm.listdatacourse.push(result);
                        });

                    }
                });


            },
            methods: {
                onFileChangeC(e) {
                    e.preventDefault();
                    let files = e.target.files[0];
                    let reader = new FileReader();
                    var vm = this;
                    reader.readAsDataURL(files);
                    reader.onload = e => {
                        vm.form.image = e.target.result;
                    };

                    vm.form.namefile = files.name;

                },
                removeImageC(e) {
                    e.preventDefault();
                    this.form.image = '';
                },
                onSubmitCourse(e) {
                    e.preventDefault();

                    var vm = this;

                    axios({
                        method: 'post',
                        url: '/app/appcourse/create/',
                        data: JSON.stringify(vm.form),
                        xsrfCookieName: 'csrftoken',
                        xsrfHeaderName: 'X-CSRFToken',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                    }).then(function (response) {
                        if (response.status === 200) {
                            console.log(response.data);
                            vm.$refs.modalappcourseRef.hide();

                            var val = response.data;

                            var id = val.id;
                            var namecourse = val.namecourse;
                            var imagecourse = val.imagecourse;
                            var enddate = moment(val.enddate).format("DD-MM-YYYY");
                            var startdate = moment(val.startdate).format("DD-MM-YYYY");
                            var student = val.student;
                            var teacheraccount = val.teacher.account;
                            var teacherfullname = val.teacher.fullname;
                            var datenow = moment(new Date()).format("DD-MM-YYYY");
                            var statuscourse = null;

                            if (enddate > datenow) {
                                statuscourse = 'Đang hoạt động';
                            } else {
                                statuscourse = 'Đã kết thúc';
                            }

                            result = {
                                id: id,
                                namecourse: namecourse,
                                imagecourse: imagecourse,
                                enddate: enddate,
                                startdate: startdate,
                                student: student,
                                teacheraccount: teacheraccount,
                                teacherfullname: teacherfullname,
                                statuscourse: statuscourse,
                            };

                            vm.listdatacourse.push(result);

                            vm.form.name = '';
                            vm.form.coursecode = '';
                            vm.form.startdate = new Date();
                            vm.form.enddate = new Date();
                            vm.form.image = null;
                            vm.form.namefile = '';
                            vm.form.teachervalue = null;
                        }
                    });


                },
                disabledDate(time) {
                    var day = time.getDay();
                    return day === 0 || day === 6;
                },
                loadinputPagination(e) {

                },
                loadchangePagination(e) {
                    if (this.showdatetime === true) {
                        var startdate = moment(this.search.startdate).format("YYYY-MM-DD");
                        var enddate = moment(this.search.enddate).format("YYYY-MM-DD");

                        var vm = this;

                        vm.listdatacourse = [];

                        axios({
                            method: 'post',
                            url: '/app/appcourse/getallpagination/',
                            data: {
                                catecourse: vm.search.catecourse,
                                perpage: vm.perpage,
                                currentPage: e,
                                namesearch: vm.search.namesearch,
                                startdate: startdate,
                                enddate: enddate,
                            },
                            xsrfCookieName: 'csrftoken',
                            xsrfHeaderName: 'X-CSRFToken',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                            },
                        }).then(function (response) {
                            if (response.status === 200) {
                                console.log(response.data);
                                vm.totalrows = response.data.total;
                                datares = response.data.data;

                                datares.forEach((val, index) => {
                                    var id = val.id;
                                    var namecourse = val.namecourse;
                                    var imagecourse = val.imagecourse;
                                    var enddate = moment(val.enddate).format("DD-MM-YYYY");
                                    var startdate = moment(val.startdate).format("DD-MM-YYYY");
                                    var student = val.student;
                                    var teacheraccount = val.teacher.account;
                                    var teacherfullname = val.teacher.fullname;
                                    var datenow = moment(new Date()).format("DD-MM-YYYY");
                                    var statuscourse = null;

                                    if (enddate > datenow) {
                                        statuscourse = 'Đang hoạt động';
                                    } else {
                                        statuscourse = 'Đã kết thúc';
                                    }
                                    result = {
                                        id: id,
                                        namecourse: namecourse,
                                        imagecourse: imagecourse,
                                        enddate: enddate,
                                        startdate: startdate,
                                        student: student,
                                        teacheraccount: teacheraccount,
                                        teacherfullname: teacherfullname,
                                        statuscourse: statuscourse,
                                    };

                                    vm.listdatacourse.push(result);
                                });
                            }
                        }).catch(function (error) {

                        });

                    } else {
                        var vm = this;

                        vm.listdatacourse = [];

                        axios({
                            method: 'post',
                            url: '/app/appcourse/getallpagination/',
                            data: {
                                catecourse: vm.search.catecourse,
                                perpage: vm.perpage,
                                currentPage: e,
                                namesearch: vm.search.namesearch,
                            },
                            xsrfCookieName: 'csrftoken',
                            xsrfHeaderName: 'X-CSRFToken',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                            },
                        }).then(function (response) {
                            if (response.status === 200) {
                                console.log(response.data);
                                vm.totalrows = response.data.total;
                                datares = response.data.data;

                                datares.forEach((val, index) => {
                                    var id = val.id;
                                    var namecourse = val.namecourse;
                                    var imagecourse = val.imagecourse;
                                    var enddate = moment(val.enddate).format("DD-MM-YYYY");
                                    var startdate = moment(val.startdate).format("DD-MM-YYYY");
                                    var student = val.student;
                                    var teacheraccount = val.teacher.account;
                                    var teacherfullname = val.teacher.fullname;
                                    var datenow = moment(new Date()).format("DD-MM-YYYY");
                                    var statuscourse = null;

                                    if (enddate > datenow) {
                                        statuscourse = 'Đang hoạt động';
                                    } else {
                                        statuscourse = 'Đã kết thúc';
                                    }
                                    result = {
                                        id: id,
                                        namecourse: namecourse,
                                        imagecourse: imagecourse,
                                        enddate: enddate,
                                        startdate: startdate,
                                        student: student,
                                        teacheraccount: teacheraccount,
                                        teacherfullname: teacherfullname,
                                        statuscourse: statuscourse,
                                    };

                                    vm.listdatacourse.push(result);
                                });
                            }
                        });

                    }

                },
                onSearchC() {
                    if (this.showdatetime === true) {
                        var startdate = moment(this.search.startdate).format("YYYY-MM-DD");
                        var enddate = moment(this.search.enddate).format("YYYY-MM-DD");

                        var vm = this;

                        vm.listdatacourse = [];

                        axios({
                            method: 'post',
                            url: '/app/appcourse/getallpagination/',
                            data: {
                                catecourse: vm.search.catecourse,
                                namesearch: vm.search.namesearch,
                                startdate: startdate,
                                enddate: enddate,
                                perpage: vm.perpage,
                                currentPage: vm.currentPage,
                            },
                            xsrfCookieName: 'csrftoken',
                            xsrfHeaderName: 'X-CSRFToken',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                            },
                        }).then(function (response) {
                            if (response.status === 200) {
                                console.log(response.data);
                                vm.totalrows = response.data.total;
                                datares = response.data.data;

                                datares.forEach((val, index) => {
                                    var id = val.id;
                                    var namecourse = val.namecourse;
                                    var imagecourse = val.imagecourse;
                                    var enddate = moment(val.enddate).format("DD-MM-YYYY");
                                    var startdate = moment(val.startdate).format("DD-MM-YYYY");
                                    var student = val.student;
                                    var teacheraccount = val.teacher.account;
                                    var teacherfullname = val.teacher.fullname;
                                    var datenow = moment(new Date()).format("DD-MM-YYYY");
                                    var statuscourse = null;

                                    if (enddate > datenow) {
                                        statuscourse = 'Đang hoạt động';
                                    } else {
                                        statuscourse = 'Đã kết thúc';
                                    }
                                    result = {
                                        id: id,
                                        namecourse: namecourse,
                                        imagecourse: imagecourse,
                                        enddate: enddate,
                                        startdate: startdate,
                                        student: student,
                                        teacheraccount: teacheraccount,
                                        teacherfullname: teacherfullname,
                                        statuscourse: statuscourse,
                                    };

                                    vm.listdatacourse.push(result);
                                });
                            }
                        });

                    } else {

                        var vm = this;

                        vm.listdatacourse = [];

                        axios({
                            method: 'post',
                            url: '/app/appcourse/getallpagination/',
                            data: {
                                catecourse: vm.search.catecourse,
                                namesearch: vm.search.namesearch,
                                perpage: vm.perpage,
                                currentPage: vm.currentPage,
                            },
                            xsrfCookieName: 'csrftoken',
                            xsrfHeaderName: 'X-CSRFToken',
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                            },
                        }).then(function (response) {
                            if (response.status === 200) {
                                console.log(response.data);
                                vm.totalrows = response.data.total;
                                datares = response.data.data;

                                datares.forEach((val, index) => {
                                    var id = val.id;
                                    var namecourse = val.namecourse;
                                    var imagecourse = val.imagecourse;
                                    var enddate = moment(val.enddate).format("DD-MM-YYYY");
                                    var startdate = moment(val.startdate).format("DD-MM-YYYY");
                                    var student = val.student;
                                    var teacheraccount = val.teacher.account;
                                    var teacherfullname = val.teacher.fullname;
                                    var datenow = moment(new Date()).format("DD-MM-YYYY");
                                    var statuscourse = null;

                                    if (enddate > datenow) {
                                        statuscourse = 'Đang hoạt động';
                                    } else {
                                        statuscourse = 'Đã kết thúc';
                                    }
                                    result = {
                                        id: id,
                                        namecourse: namecourse,
                                        imagecourse: imagecourse,
                                        enddate: enddate,
                                        startdate: startdate,
                                        student: student,
                                        teacheraccount: teacheraccount,
                                        teacherfullname: teacherfullname,
                                        statuscourse: statuscourse,
                                    };

                                    vm.listdatacourse.push(result);
                                });
                            }
                        });

                    }
                },
                onShowHideDate(e) {
                    e.preventDefault();
                    this.showdatetime = !this.showdatetime;
                },
            },

        });

    </script>


{% endblock %}