{% extends 'layoutapp.html' %}
{% load static from staticfiles %}

{% block title %}

    Course
{% endblock %}

{% block contentapp %}
    <link href="{% static 'assest/datepicker/vue-datepicker-local.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    {% csrf_token %}

    <div class="col-md-12" id="appcoursemain" style="min-height: 80rem;">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-3" style="min-height: 15rem;">

                    <b-button v-b-modal.modalappcoursecreated size="md" class="col-md-2" variant="primary">Tạo khoá học
                    </b-button>


                    <b-modal id="modalappcoursecreated" ref="modalappcourseRef" size="lg" title="Thêm mới"
                             hide-footer>
                        <div class="col-md-12">
                            <b-form @submit="onSubmitCourse">
                                {% csrf_token %}

                                <label for="excoursename">Tên khoá học:</label>
                                <b-form-input id="excoursename"
                                              type="text"
                                              v-model="form.name"
                                              required
                                              placeholder="Tên khoá học">
                                </b-form-input>

                                <label for="excoursecode">Mã khoá học:</label>
                                <b-form-input id="excoursencode"
                                              type="text"
                                              v-model="form.coursecode"
                                              required
                                              placeholder="Mã khoá học">
                                </b-form-input>

                                <label for="excoursestartdate">Ngày bắt đầu:</label>
                                <div id="excoursestartdate">
                                    <vue-datepicker-local v-model="form.startdate"
                                                          :local="local"></vue-datepicker-local>
                                </div>

                                <label for="excourseenddate">Ngày kết thúc:</label>
                                <div id="excourseenddate">
                                    <vue-datepicker-local v-model="form.enddate"
                                                          :local="local"></vue-datepicker-local>
                                </div>

                                <label for="excourseimage">Ảnh khoá học:</label>
                                <div id="excourseimage">
                                    <b-form-file v-if="!form.image"
                                                 type="file" :state="Boolean(form.image)"
                                                 @change="onFileChangeC"
                                                 placeholder="Chọn ảnh..."></b-form-file>
                                    <div v-else class="col-md-4">
                                        <img :src="form.image" class="rounded" width="75" height="75"/>
                                        <button @click="removeImageC" class="btn btn-sm btn-primary">Xoá
                                            ảnh
                                        </button>
                                    </div>
                                </div>

                                <label for="excourseteachername">Giảng viên:</label>
                                <div id="excourseteachername">
                                    <vue-multiselect v-model="form.teachervalue" :options="options"
                                                     label="name"
                                                     :searchable="true" :close-on-select="true" :show-labels="false"
                                    ></vue-multiselect>
                                </div>

                                <b-button type="submit" class="px-5" variant="primary">
                                    Lưu
                                </b-button>

                            </b-form>
                        </div>
                    </b-modal>

                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="http://placekitten.com/380/200"
                         height="250" width="200"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-danger">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="http://placekitten.com/380/200"
                         height="250" width="200"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="http://placekitten.com/380/200"
                         height="250" width="200"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-danger">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="http://placekitten.com/380/200"
                         height="250" width="200"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="http://placekitten.com/380/200"
                         height="250" width="200"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="http://placekitten.com/380/200"
                         height="250" width="200"
                         alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="http://placekitten.com/380/200"
                         height="250" width="200"
                         alt="Card image cap">
                </div>
            </div>


        </div>
    </div>


    <script src="{% static 'assest/datepicker/vue-datepicker-local.js' %}"></script>

    <script src="{% static 'assest/vendor/holder.min.js' %}"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
    <script>

        Vue.component('vue-multiselect', window.VueMultiselect.default);

        new Vue({
            delimiter: ['${', '}'],
            el: '#appcoursemain',
            data() {
                return {
                    form: {
                        name: '',
                        coursecode: '',
                        startdate: new Date(),
                        enddate: new Date(),
                        image: null,
                        namefile: '',
                        teachervalue: null,
                        catecourse:'{{ categorycourse }}'

                    },
                    time: new Date(),
                    range: [new Date(), new Date()],
                    emptyTime: '',
                    emptyRange: [],
                    local: {
                        dow: 0,
                        hourTip: 'Select Hour',
                        minuteTip: 'Select Minute',
                        secondTip: 'Select Second',
                        yearSuffix: '',
                        monthsHead: 'Tháng1_Tháng2_Tháng3_Tháng4_Tháng5_Tháng6_Tháng7_Tháng8_Tháng9_Tháng10_Tháng11_Tháng12'.split('_'),
                        months: 'T1_T2_T3_T4_T5_T6_T7_T8_T9_T10_T11_T12'.split('_'),
                        weeks: 'CN_T2_T3_T4_T5_T6_T7'.split('_'),
                        cancelTip: 'cancel',
                        submitTip: 'confirm'
                    },
                    options: []

                }
            },
            created() {
                console.log('start');
                var vm = this;
                axios({
                    method: 'post',
                    url: '/app/appteacher/getall/',
                    data: '',
                    xsrfCookieName: 'csrftoken',
                    xsrfHeaderName: 'X-CSRFToken',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                }).then(function (response) {
                    if (response.status === 200) {
                        response.data.forEach((val, index) => {
                            vm.options.push({
                                name: val.infofullname,
                                idteacher: val.id
                            });

                        });

                    }
                });


            },
            methods: {
                onFileChangeC(e) {
                    e.preventDefault();
                    let files = e.target.files[0];
                    let reader = new FileReader();
                    var vm = this;
                    reader.readAsDataURL(files);
                    reader.onload = e => {
                        vm.form.image = e.target.result;
                    };

                    vm.form.namefile = files.name;

                },
                removeImageC(e) {
                    e.preventDefault();
                    this.form.image = '';
                },
                onSubmitCourse(e) {
                    e.preventDefault();
                    console.log(JSON.stringify(this.form));

                },
                disabledDate(time) {
                    var day = time.getDay();
                    return day === 0 || day === 6;
                }
            }
        });

    </script>


{% endblock %}