{% extends 'layoutusersapp.html' %}
{% load static from staticfiles %}


{% block title %}
    Course Complete

{% endblock %}

{% block usersapp %}

    {% csrf_token %}

    <div class="container" id="studentsitecoursecomplete">

        <div class="row">

            <div class="col-lg-3">
                <div class="my-5"></div>
                <div class="list-group">
                    <a href="{% url 'usersappsigninstudent' %}" class="list-group-item"
                       v-bind:class="{ 'active' : active_el==1 }"
                       @click="activate(1)">Các khoá học</a>
                    <a href="{% url 'studentcomplete' %}" class="list-group-item"
                       v-bind:class="{ 'active' : active_el==3 }"
                       @click="activate(3)">Khoá học hoàn thành</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9" style="min-height: 50rem;">

                <div class="row" v-if="detailshow">
                    <div class="col-md-12 mt-4">

                        <div class="row">

                            <div class="col-md-4 my-1" v-if="items.length" v-for="item in items">

                                <div class="card" style="width: 16rem;">
                                    <img class="card-img-top" :src="`/media/${ item.imagecourse }`" height="180"
                                         width="100" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">${ item.namecourse }</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">${ item.startdate } - ${ item.enddate
                                            }</h6>
                                        <p class="card-text text-success">Hoàn thành</p>
                                        <a href="#" class="btn btn-primary"
                                           @click="onShowDetail(item.id,item.namecourse)">Chi
                                            tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 my-3">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage"
                                      align="center"></b-pagination>
                    </div>
                </div>

                <!-- /.card -->
                <div class="row mt-4" v-if="!detailshow">
                    <div class="col-md-12">
                        <b-button size="md" variant="primary" @click="onShowDetailHide">
                            <i class="fa fa-fw fa-long-arrow-left"></i></b-button>
                    </div>
                </div>
                <div class="card card-outline-secondary my-4" v-if="!detailshow">

                    <div class="card-header">
                        Tài liệu
                    </div>
                    <div class="card-body">
                        <div class="row" style="height: 20rem; overflow-y: scroll;">
                            <div class="col-md-12" v-if="listfilesupload.length"
                                 v-for="(item,index) in listfilesupload">
                                <b-alert show variant="primary">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div>Tiêu đề : ${ item.name }</div>
                                            <div>Tên : ${ item.namefile }</div>
                                            <div>Nội dung : ${ item.comment }</div>
                                        </div>
                                        <div class="col-md-2">
                                            <b-button-group>
                                                <b-button :href="`/media/${ item.contentfile }`"
                                                          :download="`${ item.namefile }`" size="md" variant="primary">
                                                    <i class="fa fa-fw fa-cloud-download"></i>
                                                </b-button>
                                            </b-button-group>
                                        </div>
                                    </div>

                                </b-alert>
                                <small class="text-muted">Ngày tạo ${ item.created }</small>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>

    <script>
        new Vue({
            delimiters: ['${', '}'],
            el: '#studentsitecoursecomplete',
            data() {
                return {
                    active_el: 1,
                    totalRows: 0,
                    perPage: 10,
                    currentPage: 1,
                    items: [],
                    detailshow: true,
                    listfilesupload: []
                }
            },
            mounted() {
                var vm = this;

                axios({
                    method: 'post',
                    url: '/student/course/studentgetallcoursecomplete/',
                    data: {
                        perPage: vm.perPage,
                        currentPage: vm.currentPage,
                        uid: '{{ request.session.uid }}',
                        studentinfouid: '{{ request.session.studentinfouid }}'

                    },
                    xsrfCookieName: 'csrftoken',
                    xsrfHeaderName: 'X-CSRFToken',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                        'Authorization': 'JWT {{ request.session.token.token }}'
                    },
                }).then(function (response) {
                    if (response.status === 200 && response.data) {
                        vm.items = response.data;

                        vm.items.filter((val, index) => {
                            val.startdate = moment(val.startdate).format("DD-MM-YYYY");
                            val.enddate = moment(val.enddate).format("DD-MM-YYYY");
                        });
                        vm.totalRows = vm.items.length;

                    }
                });


            },
            created() {

            },
            methods: {
                activate(el) {
                    this.active_el = el;
                },
                onShowDetail(itemid, itemcourse) {
                    var vm = this;
                    vm.detailshow = !vm.detailshow;

                    vm.listfilesupload = [];

                    axios({
                        method: 'post',
                        url: '/teacher/course/loadsfile/',
                        data: {
                            itemcourse: itemid
                        },
                        xsrfCookieName: 'csrftoken',
                        xsrfHeaderName: 'X-CSRFToken',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                    }).then(function (response) {
                        if (response.status === 200 && response.data) {
                            response.data.filter((val) => {
                                val.created = moment(val.created).format("DD-MM-YYYY");
                                var namefile = val.contentfile.split('/');
                                namefile = namefile[namefile.length - 1];
                                val.namefile = namefile;
                                vm.listfilesupload.push(val);

                            });
                        }
                    });

                },
                onShowDetailHide() {
                    this.detailshow = !this.detailshow;
                }
            }
        });
    </script>
{% endblock %}