{% extends 'layoutusersapp.html' %}
{% load static from staticfiles %}


{% block title %}
    Teacher
{% endblock %}

{% block usersapp %}

    {% csrf_token %}

    <div class="container" id="appteachersite">

        <div class="row">

            <div class="col-lg-3">
                <div class="my-5"></div>
                <div class="list-group">
                    <a href="{% url 'usersappsigninteacher' %}" class="list-group-item"
                       v-bind:class="{ 'active' : active_el==1 }"
                       @click="activate(1)">
                        Khoá học tham gia </a>
                    <a href="#" class="list-group-item" v-bind:class="{ 'active' : active_el==2 }" @click="activate(2)">
                        Tải tải liệu</a>
                    <a href="#" class="list-group-item" v-bind:class="{ 'active' : active_el==3 }" @click="activate(3)">
                        Category 3</a>
                    <a href="#" class="list-group-item" v-bind:class="{ 'active' : active_el==4 }" @click="activate(4)">
                        Category 3</a>
                    <a href="#" class="list-group-item" v-bind:class="{ 'active' : active_el==5 }" @click="activate(5)">
                        Category 3</a>
                    <a href="#" class="list-group-item" v-bind:class="{ 'active' : active_el==6 }" @click="activate(6)">
                        Category 3</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="col-md-12 mt-4">

                    <div class="row" v-if="detailstudent">

                        <div class="col-md-4 my-1" v-if="items.length" v-for="item in items">

                            <div class="card" style="width: 16rem;">
                                <img class="card-img-top" :src="`/media/${ item.imagecourse }`" height="180"
                                     width="100" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${ item.namecourse }</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">${ item.startdate } - ${ item.enddate
                                        }</h6>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary" @click="onShowDetail(item.id,item.namecourse)">Chi
                                        tiết</a>
                                </div>
                            </div>

                        </div>


                        <div class="col-md-12 my-3">
                            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage"
                                          align="center"></b-pagination>
                        </div>
                    </div>

                    <!-- template detail course -->

                    <div class="row" v-if="!detailstudent">
                        <b-button size="md" variant="primary" @click="onShowDetailHide">
                            <i class="fa fa-fw fa-long-arrow-left"></i></b-button>

                        <div class="col-md-8 mx-auto">
                            <b-form-input v-model="filter" placeholder="Tìm kiếm"/>

                        </div>

                        <div class="col-md-12 my-2">

                            <!-- Main table element -->
                            <b-table show-empty
                                     stacked="md"
                                     v-bind:items="itemsstudentcourse"
                                     v-bind:fields="fields"
                                     v-bind:current-page="currentPageStudent"
                                     v-bind:per-page="perPageStudent"
                                     v-bind:filter="filter"
                                     v-bind:sort-by.sync="sortBy"
                                     v-bind:sort-desc.sync="sortDesc"
                                     v-bind:sort-direction="sortDirection"
                                     @filtered="onFiltered"
                            >
                                <template slot="actions" slot-scope="row">
                                    <b-button size="sm" variant="danger"
                                              @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
                                        Đánh giá
                                    </b-button>
                                </template>
                            </b-table>

                            <!-- Info modal -->
                            <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" hide-footer>
                                <b-form-textarea id="textarea1"
                                                 v-model="modalInfo.comment"
                                                 placeholder="Đánh giá"
                                                 :rows="3"
                                                 :max-rows="6">
                                </b-form-textarea>
                                <b-button size="md" variant="primary"
                                          @click="onSaveCommnetStudent(modalInfo.content)">Lưu
                                </b-button>
                            </b-modal>

                            <div class="col-md-12">
                                <b-pagination v-bind:total-rows="totalRowsStudent" v-bind:per-page="perPageStudent"
                                              v-model="currentPageStudent" align="center"></b-pagination>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                            similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                            laborum.
                            Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                            similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                            laborum.
                            Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                            similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                            laborum.
                            Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>


    <script>
        new Vue({
            delimiters: ['${', '}'],
            el: '#appteachersite',
            data() {
                return {
                    active_el: 1,
                    totalRows: 0,
                    perPage: 10,
                    currentPage: 1,
                    items: [],
                    detailstudent: true,
                    itemsstudentcourse: [],
                    totalRowsStudent: 0,
                    currentPageStudent: 1,
                    perPageStudent: 10,
                    fields: [
                        {key: 'fullname', label: 'Họ tên', sortable: true, sortDirection: 'desc'},
                        {key: 'birthday', label: 'Ngày sinh', sortable: true},
                        {key: 'email', label: 'Email', sortable: true},
                        {key: 'school', label: 'Trường học', sortable: true},
                        {key: 'phone', label: 'SĐT', sortable: true},
                        {key: 'actions', label: 'Đánh giá'}
                    ],
                    filter: null,
                    sortBy: null,
                    sortDesc: false,
                    sortDirection: 'asc',
                    modalInfo: {
                        title: '',
                        content: '',
                        comment: '',
                    },
                    itemcourse: '',
                    teachercourse: '{{ request.session.uid }}',

                }
            },
            mounted() {
                var vm = this;

                axios({
                    method: 'post',
                    url: '/teacher/course/getall/',
                    data: {
                        perPage: vm.perPage,
                        currentPage: vm.currentPage,
                        uid: '{{ request.session.uid }}'

                    },
                    xsrfCookieName: 'csrftoken',
                    xsrfHeaderName: 'X-CSRFToken',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                        'Authorization': 'JWT {{ request.session.token.token }}'
                    },
                }).then(function (response) {
                    if (response.status === 200 && response.data) {
                        vm.items = response.data;

                        vm.items.filter((val, index) => {
                            val.startdate = moment(val.startdate).format("DD-MM-YYYY");
                            val.enddate = moment(val.enddate).format("DD-MM-YYYY");
                        });
                        vm.totalRows = vm.items.length;
                        console.log(vm.items);


                    }
                });

            },
            async created() {


            },
            computed: {
                sortOptions() {
                    return this.fields
                        .filter(f => f.sortable)
                        .map(f => {
                            return {text: f.label, value: f.key}
                        })
                }
            },
            methods: {
                onFiltered(filteredItems) {
                    this.totalRowsStudent = filteredItems.length;
                    this.currentPageStudent = 1;
                },
                info(item, index, button) {


                    this.modalInfo.title = '';
                    this.modalInfo.content = JSON.stringify(item);
                    this.$root.$emit('bv::show::modal', 'modalInfo', button);
                },
                resetModal() {

                    this.modalInfo.title = '';
                    this.modalInfo.content = '';
                    this.modalInfo.comment = '';
                },
                onSaveCommnetStudent(item) {
                    console.log(JSON.parse(item).id, this.itemcourse,this.teachercourse);
                    console.log(this.modalInfo.comment);
                },
                activate(el) {
                    this.active_el = el;
                },
                onShowDetail(itemid, namecourse) {

                    var vm = this;

                    vm.itemcourse = itemid;

                    axios({
                        method: 'post',
                        url: '/app/appcourse/coursegetstudentin/',
                        data: {
                            categorycourse: namecourse,
                            infoc: itemid,
                        },
                        xsrfCookieName: 'csrftoken',
                        xsrfHeaderName: 'X-CSRFToken',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                    }).then(function (response) {
                        if (response.status === 200) {

                            vm.itemsstudentcourse = response.data;
                            vm.totalRowsStudent = vm.itemsstudentcourse.length;

                            console.log(vm.itemsstudentcourse);
                        }
                    });

                    vm.detailstudent = !vm.detailstudent;
                },
                onShowDetailHide() {
                    this.detailstudent = !this.detailstudent;
                }
            }

        })
    </script>
{% endblock %}